{% extends 'layout.twig' %}

{% block body %}
{% verbatim %}
<div v-cloak id="app">
    <div class="container">
        <record-creation-form :has-given-phone-number="hasGivenPhoneNumber"
                              @add-new-record="setNeedToUpdateFlag"
                              @need-check-phone="savePhoneNumberToCheck"
                              @show-info-dialog="showInfoDialog"></record-creation-form>
        <records-table :phone-number="phoneNumberToCheck"
                       :need-update-records="needUpdateRecords"
                       @records-updated="resetNeedToUpdateFlag"
                       @phone-checked="savePhoneCheckResult"
                       @show-info-dialog="showInfoDialog"></records-table>

        <div class="modal" :class="shownDialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Сообщение сервера</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                @click="resetShownDialog">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{ infoMessage }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="resetShownDialog">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="record-creation-form-template" type="text/x-template">
    <div>
        <h1 class="header my-3">Телефонная книга</h1>

        <form class="mb-4 p-3 border needs-validation" novalidate>
            <div class="mb-3">
                <label for="surname" class="form-label">Фамилия</label>
                <input type="text" class="form-control" :class="surnameValidity" id="surname"
                       placeholder="Введите фамилию *" required
                       name="surname" v-model.trim="surname" @input="checkSurnameValidity">
                <div class="invalid-feedback">Пожалуйста, введите фамилию.</div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Имя</label>
                <input type="text" class="form-control" :class="nameValidity" id="name" placeholder="Введите имя *"
                       required name="name"
                       v-model.trim="name" @input="checkNameValidity">
                <div class="invalid-feedback">Пожалуйста, введите имя.</div>
            </div>
            <div class="mb-4">
                <label for="phone" class="form-label">Номер телефона</label>
                <input type="text" class="form-control" :class="phoneValidity" id="phone"
                       placeholder="Введите номер телефона *" required
                       name="phone" v-model.trim="phone" @input="checkPhoneValidity">
                <div class="invalid-feedback">{{ phoneErrorMessage }}</div>
            </div>

            <button type="submit" class="btn btn-primary" id="add-button" @click.prevent="addNewRecord">Добавить
                запись
            </button>
        </form>
    </div>
</script>

<script id="records-table-template" type="text/x-template">
    <div>
        <div class="row mt-5 mb-3 no-gutters">
            <div class="col mb-2 mr-2">
                <input type="text" class="form-control" v-model="searchText" placeholder="Поиск по таблице">
            </div>
            <div class="col-auto mb-2 mr-2">
                <button type="button" class="btn btn-primary" @click="loadRecords">Найти</button>
            </div>
            <div class="col-auto mb-2">
                <button type="button" class="btn btn-secondary" @click="resetFilter">Сбросить</button>
            </div>
        </div>

        <div class="table-responsive-sm">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                <tr>
                    <th class="align-middle">
                        <label class="my-0">
                            <input type="checkbox" name="all-rows-selector" v-model="isSelectedAllRecords"
                                   @change="selectAllRecords" @change="checkForSelectedRecords">
                        </label>
                    </th>
                    <th class="align-middle">№</th>
                    <th class="align-middle">Фамилия</th>
                    <th class="align-middle">Имя</th>
                    <th class="align-middle">Номер телефона</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="table-body">
                <record
                        v-for="record in records"
                        :key="record.id"
                        :record="record"
                        @delete-record="setRecordIdToRemove"
                        @select-record="checkForSelectedRecords">
                </record>
                </tbody>
            </table>
        </div>

        <button id="delete-selected-rows-button" :class="disabled" class="btn btn-primary delete-rows-button mb-3"
                type="button"
                data-toggle="modal" data-target="#dialog">Удалить выбранное
        </button>

        <div class="modal fade" id="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Подтверждение удаления</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                @click="resetRecordIdToRemove">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">{{ dialogMessage }}</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                @click="resetRecordIdToRemove">Нет
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                @click="deleteRecords">Да
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="record-template" type="text/x-template">
    <tr>
        <td class="align-middle">
            <label class="my-0">
                <input class="selector" type="checkbox" name="row-selector" v-model="record.checked"
                       @change="selectRecord">
            </label>
        </td>
        <td class="align-middle">{{ record.number }}</td>
        <td class="align-middle">{{ record.surname }}</td>
        <td class="align-middle">{{ record.name }}</td>
        <td class="align-middle">{{ record.phone }}</td>
        <td class="align-middle">
            <button type="button"
                    class="delete-button btn btn-primary"
                    data-toggle="modal"
                    data-target="#dialog"
                    @click="deleteRecord">x
            </button>
        </td>
    </tr>
</script>
{% endverbatim %}
{% endblock %}
